<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional // EN"
"http://www.w3c.org/1999/xhtml1-reansitional.dtd">
<html xmlns="http://www.w3c.org/1999/xhtml" xml:long="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Elliott Smith Fan Club</title>
</head>
<style type="text/css">
	body{
		margin: 0px 0px 0px;
		background: #9F9;
	}
	#leftcontent{
		float: left;
		width: 67%;
		background: #fff;
		border-right: 2px solid #000;
		border-bottom: 2px solid #000;
		margin-right: 15px;
		padding-bottom: 20px;
	}
	p,h1,pre {
		margin:0px 30px 10px 30px;
	}
	h1 {
		font-size:14px;
		padding-top: 10px;
	}
	#rightcontent p {
		font-size: 14px;
		margin-left: 0px;
	}
</style>
<body>
<div id="leftcontent">
<!-- BEGIN CHANGEABLE CONTENT. -->

	<h1>Welcome to the Elliott Smith Fan Club!</h1>
	<p>Here's a whole lotta text. Here's a whole lotta text. Here's a whole lotta text. Here's a whole lotta text. Here's a whole lotta text. Here's a whole lotta text. Here's a whole lotta text. </p>
	<p>Here's a whole lotta text. Here's a whole lotta text. Here's a whole lotta text. Here's a whole lotta text. Here's a whole lotta text. Here's a whole lotta text. Here's a whole lotta text. </p>
<!--END CHANGEABLE CONTENT. -->
</div>

<div id="rightcontent">
	<h1>Navigation</h1>
	<p><a href="index.php">Home</a><br />
	<a href="albums.php">Discography</a>
	<a href="logon.php">Login</a>
	<a href="register.php">Register</a></p>
</div>
</body>
</html>